<header>
  <h1 (click)="goHome()" class="item1">cool <br> blue</h1>
  <h1 class="item2">NL <span class="arrow">v</span></h1>
  <app-search class="item3"></app-search>
  <img class="icon item4" src="assets/svg/heart.svg" alt="heart">
  <img class="icon item5" src="assets/svg/shopping-cart.svg" alt="heart">
  <img class="icon item6" src="assets/svg/ui-user.svg" alt="heart">
</header>

<nav>
  <li (click)="toggleShowCategories()">
    <h1>Categorieën <img [className]="showCategories? 'arrow' : 'reversedArrow'" src="assets/svg/arrow-down-blue.svg"
        alt="back"></h1>
  </li>
  <li (click)="toggleShowCategories2()">
    <h1>Acties <img [className]="showCategories2? 'arrow' : 'reversedArrow'" src="assets/svg/arrow-down-blue.svg"
        alt="back"></h1>
  </li>
  <li>
    <h1>Zakelijk</h1>
  </li>
  <li>
    <h1>Winkels</h1>
  </li>
  <li>
    <h1>Klantenservice</h1>
  </li>
</nav>

<div *ngIf="showCategories" class="categories">
  <ul>
    <li>Computers & tablets</li>
    <li>Beeld & geluid</li>
    <li>Telefonie</li>
    <li>Huishouden & wonen</li>
    <li>Keuken</li>
    <li>Sport & verzorging</li>
    <li>Foto & video</li>
    <li>Navigatie, reizen & fashion</li>
    <li>Tuin & klussen</li>
  </ul>
</div>

<div *ngIf="showCategories2" class="categories2">
  <ul>
    <li>Promoties</li>
    <li>Tweedekans</li>
    <li>Cadeaus</li>
    <li>Cadeaubonnen</li>
    <li>Coolblue fanartikelen</li>
    <li>Alle merken</li>
  </ul>
</div>
