* {
  margin: 0;
  overflow: hidden;
}

header {
  background-color: #0090E3;
  color: white;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 60px;
  grid-template-areas:
    ". . a . b c c c d e f . .";
}

// source: https://stackoverflow.com/a/15706906
header * {
  align-self: center;
  justify-self: center;
}

.item1 {
  grid-area: a;
  background-color: #FF6601;
  font-family: "Soolidium";
  font-size: 15pt;
  line-height: 25px;
  padding: 15px;
  border-radius: 50%;
}

.item2 {
  grid-area: b;
  font-size: 12pt;
}

.item3 {
  grid-area: c;
  width: 100%;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;
}

.item6 {
  grid-area: f;
}

.icon {
  cursor: pointer;
  fill: red;
  height: 30px;
  width: 30px;
}

// Source: https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/
// grid-template-columns: 0.85fr 1.25fr repeat(3, 0.9fr) 1.25fr 0.85fr;

nav {
  display: grid;
  grid-template-columns: 1.25fr 1.2fr repeat(3, 1fr) 1.2fr 1.25fr;
  grid-template-rows: 60px;
  background-color: #F2F7FC;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0090E3;
  font-size: 10pt;
  overflow: auto;
}

nav li {
  display: inline;
}

nav li:first-of-type {
  grid-column-start: 2;
}

nav h1 {
  cursor: pointer;
  display: inline-block;
  margin: 20px 3%;
}

.arrow {
  font-size: 15px;
}

.reversedArrow {
  font-size: 15px;
}

.categories {
  border: rgb(194, 194, 194) 1px solid;
  position: absolute;
  background-color: white;
  color: #0090E3;
  margin-left: calc((140%/7.9));
  width: 12%;
  height: 32%;
}

.categories ul,
.categories2 ul {
  padding: 0;
  margin: 0;
}

.categories li,
.categories2 li {
  margin: 15px 20px;
}

.categories2 {
  border: rgb(194, 194, 194) 1px solid;
  position: absolute;
  background-color: white;
  color: #0090E3;
  margin-left: calc((250%/7.9));
  width: 12%;
  height: 22%;
}
