<footer>
  <div class="center">
    <h1 class="title">Alles voor een glimlach!</h1>
    <h2 class="title"> <img src="assets/svg/checkmark.svg" alt="">Voor morgen <span class="orange">23.59 uur</span>
      besteld, donderdag
      <span class="orange">gratis</span> geleverd
      <img src="assets/svg/checkmark.svg" alt=""> <span class="orange">Gratis</span> ruilen <img
        src="assets/svg/checkmark.svg" alt="">5 échte
      <span class="orange">winkels </span> <img src="assets/svg/checkmark.svg" alt="">Onze <span class="orange">app
      </span>
      <img src="assets/svg/checkmark.svg" alt="">
      <span class="orange">Klantvriendelijkste</span> webshop 2020</h2>
  </div>
  <div class="blue">
    <div class="grid1">
      <img class="item1" src="assets/service.png" alt="klantenservice">
      <div class="item2">
        <h3 class="item1">Heb je een vraag? Aarzel niet om ons te contacteren!</h3>
        <a class="item3" target="_blank" href="https://www.facebook.com/CoolblueBelgie"><img class="logo"
            src="assets/svg/facebook.svg" alt="Facebook">Facebook</a>
        <a class="item4" target="_blank" href="https://twitter.com/Coolblue_BE"><img class="logo"
            src="assets/svg/twitter.svg" alt="Twitter">Twitter</a>
        <a class="item5" target="_blank" href="https://www.youtube.com/user/coolblue"><img class="logo"
            src="assets/svg/youtube.svg" alt="Youtube">Youtube</a>
        <a class="item6" target="_blank" href="#"><img class="logo" src="assets/svg/shop.svg" alt="shop">5 echte
          winkels</a>
      </div>
      <div class="item3">
        <h3>Meld je aan voor onze nieuwsbrief </h3>
        <h3 class="subtext">Ontvang de beste aanbiedingen en persoonlijk advies.</h3>
        <input type="email" placeholder="Emailadres">
        <a class="aanmelden" href="#">Aanmelden</a>
      </div>
    </div>
    <div class="grid2">
      <h3 class="item4">Klanten service</h3>
      <h3 class="item5">Zakelijk</h3>
      <h3 class="item6">Winkels</h3>
      <h3 class="item7">Over Coolblue</h3>
    </div>
  </div>
</footer>
