<footer>
  <div class="center">
    <h1>Alles voor een glimlach!</h1>
    <h2> <img src="assets/svg/checkmark.svg" alt="">Voor morgen <span class="orange">23.59 uur</span> besteld, donderdag
      <span class="orange">gratis</span> geleverd
      <img src="assets/svg/checkmark.svg" alt=""> <span class="orange">Gratis</span> ruilen <img
        src="assets/svg/checkmark.svg" alt="">5 échte
      <span class="orange">winkels </span> <img src="assets/svg/checkmark.svg" alt="">Onze <span class="orange">app
      </span>
      <img src="assets/svg/checkmark.svg" alt="">
      <span class="orange">Klantvriendelijkste</span> webshop 2020</h2>
  </div>
  <div class="blue">
    <h3>Heb je een vraag? Aarzel niet om ons te contacteren!</h3>
    <h3>Meld je aan voor onze nieuwsbrief </h3>
    <h3>Ontvang de beste aanbiedingen en persoonlijk advies.</h3>
    <input type="text">
    <h3>Aanmelden</h3>
    <div class="grid">
      <h3>Klanten service</h3>
      <h3>Zakelijk</h3>
      <h3>Winkels</h3>
      <h3>Over Coolblue</h3>
    </div>
  </div>
</footer>
