body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// Source: https://reactgo.com/add-fonts-to-angular/
@font-face {
  font-family: "Soolidium";
  src: local("Soolidium"), url(./assets/font/Soolidium.ttf) format("truetype");
}
