<div class="body">
  <div class="categories">
    <div class="category">
      <h1>Beeld & geluid</h1>
    </div>
    <div class="category">
      <h1>Computers & tablets</h1>
    </div>
    <div class="category">
      <h1>Telefonie</h1>
    </div>
    <div class="category">
      <h1>Huishouden & wonen</h1>
    </div>
    <div class="category">
      <h1>Keuken</h1>
    </div>
    <div class="category">
      <h1>Sport & verzorging</h1>
    </div>
    <div class="category">
      <h1>Foto & video</h1>
    </div>
    <div class="category">
      <h1>Navigatie, reizen & fashion</h1>
    </div>
    <div class="category">
      <h1>Tuin & klussen</h1>
    </div>
  </div>
</div>
